*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
}

header{
    width: auto;
    height: 100px;
}
header h1{
    background-color: black;
    font-size: 40px;
    color:blue;
    text-shadow: 2px 2px 5px white;
    text-align: center;
    text-transform: uppercase;
}

#informacoes{
    width: 60%;
    height: 500px;
    background-color: aqua;
    margin: auto;
    border: 5px solid black;

}

#informacoes p{
    padding: 10px;
    font-size: 25px;
    font-style: italic;
}

#informacoes input[type=number]{
    width: 30%;
    height: 40px;
    font-size: 25px;
    color: brown;

}

#informacoes input[type=submit]{
    text-transform: uppercase;
    margin: 10px;
    width: 30%;
    height: 40px;
    color: aqua;
    text-shadow: 2px 2px 5px white;
    background-color: black;
    font-size: 20px;
    box-shadow: 2px 2px 10px red;
}

select{
    margin: 10px;
    padding: 10px;
    width: 30%;
    height: 300px;

}

select option{
    padding: 10px;
    font-size: 15px;
    
}

